.tab__list--newarival {
    background-color: rgb(42, 42, 140);
    width: 9vw;
    height: 2.7vw;
    border-radius: 0.3vw;
}
.tab__link--newArival {
    color: aliceblue;
}
@media screen and (max-width: 600px) {
.tab__list--newarival {
    background-color: rgb(42, 42, 140);
    width: 30vw;
    height: 2.7vw;
    border-radius: 0.3vw;
}
}
